@import "tailwindcss";

@theme {
  --color-surface-variant: #ebe1d0;
  --color-primary-container: #164491;
  --color-on-primary-fixed-variant: #154390;
  --color-error: #ba1a1a;
  --color-on-error: #ffffff;
  --color-tertiary-container: #6a3c00;
  --color-error-container: #ffdad6;
  --color-on-primary: #ffffff;
  --color-on-error-container: #93000a;
  --color-inverse-surface: #353025;
  --color-on-tertiary: #ffffff;
  --color-on-secondary-fixed-variant: #822708;
  --color-on-tertiary-fixed-variant: #693c00;
  --color-on-secondary-container: #721d00;
  --color-background: #fff8f1;
  --color-inverse-on-surface: #faf0de;
  --color-tertiary: #4a2900;
  --color-on-secondary: #ffffff;
  --color-outline: #747782;
  --color-on-primary-container: #96b5ff;
  --color-primary-fixed: #d9e2ff;
  --color-secondary: #a23e1e;
  --color-primary-fixed-dim: #afc6ff;
  --color-outline-variant: #c3c6d3;
  --color-on-background: #1f1b11;
  --color-surface-tint: #345caa;
  --color-on-secondary-fixed: #3a0a00;
  --color-on-tertiary-fixed: #2c1600;
  --color-secondary-container: #fe835d;
  --color-primary: #002e6e;
  --color-surface-container: #f7eddc;
  --color-surface-dim: #e3d9c8;
  --color-on-surface: #1f1b11;
  --color-surface-container-low: #fdf2e1;
  --color-surface-container-highest: #ebe1d0;
  --color-surface-bright: #fff8f1;
  --color-tertiary-fixed: #ffdcbe;
  --color-on-surface-variant: #434651;
  --color-secondary-fixed: #ffdbd1;
  --color-inverse-primary: #afc6ff;
  --color-surface-container-high: #f1e7d6;
  --color-secondary-fixed-dim: #ffb59f;
  --color-on-tertiary-container: #fea030;
  --color-surface: #fff8f1;
  --color-surface-container-lowest: #ffffff;
  --color-on-primary-fixed: #001944;
  --color-tertiary-fixed-dim: #ffb870;

  --font-headline: "Noto Serif", serif;
  --font-body: "Plus Jakarta Sans", sans-serif;
  --font-label: "Plus Jakarta Sans", sans-serif;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-on-background);
    font-family: var(--font-body);
  }
}

.glass-nav {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 248, 241, 0.8);
}
